.deps
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
config.log
configure
depcomp
install-sh
libtool
ltmain.sh
m4
m4/*
missing
update
Makefile
.*stamp
.libs
*.la
*.lo
*.o
shim/*.so.c
shim/*.so.symbols
shim/*.so.map
elf-dump
print-libstubs
capsule-symbols
capsule-version
TAGS
tags
*~
debian/*.log
debian/libcapsule
debian/*-dev
debian/tmp
debian/autoreconf*
debian/files
debian/*substvars
debian/*debhelper
data/*.pc
data/dirconf.txt
*.swp
*.tmp
install.log
*.1
*.3
*-overrides.txt
*-sections.txt
*-docs.xml
*.types
gtk-doc.make
*.tar.*
*.tgz
*.tar
tmpl/
