.deps
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
config.log
configure
depcomp
install-sh
libtool
ltmain.sh
m4
m4/*
missing
update
Makefile
.*stamp
.libs
*.la
*.lo
*.o
shim/*.so.c
shim/*.so.c.symbols
shim/*.so.c.map
elf-dump
print-libstubs
TAGS
tags
shim/lib*.so.map
shim/lib*.so.symbols
